* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin size-family-color($size, $family, $color) {
  font-size: $size;
  font-family: $family;
  color: $color;
}

@mixin display-justify-align($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

main {
  /* MAIN TOP  */

  .main-top {
    padding: 0 4%;
    height: 2rem;
    background-color: $color-main-top;

    @include display-justify-align(flex, space-evenly, center);
    gap: 1rem;

    p {
      @include size-family-color(1.2rem, $font-chakra, $color-black);
    }

    // p:first-of-type {
    //   margin-left: 16rem;
    // }

    p:hover {
      color: $color-maintop-text-hover;
    }
  }

  /* MAIN BOTTOM  */

  .main-bottom {
    @include width-height(100%, 100%);
    padding: 0 2%;

    .content-btns {
      @include width-height(100%, 8rem);
      @include display-justify-align(flex, center, center);
      flex-wrap: wrap;
      gap: 1rem;

      margin-top: 2rem;

      .btn {
        @include width-height(10rem, 3rem);

        background-color: $color-btn-menu;
        box-shadow: 2px 2px 2px #00000085;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        @include size-family-color(0.9rem, $font-chakra, $color-black);
        font-weight: bold;

        &:hover {
          background-color: $color-btn-menu-selecionado;
        }
      }

      .btn.selecionado {
        background-color: $color-btn-menu-selecionado;
        color: $color-btn-menu-selecionado-text;
      }
    }
  }

  /*  CONTEÚDO DOS CARDS */

  .content-cards {
    /* MÉDIA */

    .box-media {
      @include display-justify-align(none, center, center);
      flex-direction: column;
      gap: 1rem;

      margin-top: 4rem;

      .btnAllMedia {
        display: flex;
        gap: 2rem;

        .btnMedia {
          @include width-height(6rem, 6rem);
          border-radius: 50%;
          border: none;
          cursor: pointer;
          background-color: $color-btn-media;

          @include size-family-color(0.9rem, $font-chakra, $color-black);
          font-weight: bold;
          box-shadow: 2px 2px 2px #00000085;

          &:hover {
            opacity: 0.9;
          }
        }

        .btnMedia.btnMediaSelecionado {
          border: 2px solid $color-black;
        }
      }

      .subtitleMedia {
        width: 100%;
        @include size-family-color(1.7rem, $font-chakra, $color-black);
        text-align: center;
        margin-bottom: 1rem;
      }

      .cardMedia {
        @include width-height(22rem, 7rem);
        @include display-justify-align(flex, center, center);
        gap: 2rem;

        list-style-type: none;
        background-color: $color-white;
        border-radius: 1rem;
        box-shadow: 2px 2px 10px #0000007e;

        p {
          @include size-family-color(1.7rem, $font-bebas, $color-black);
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
            text-shadow: 0px 0px 2px #00000096;
          }
        }
      }
    }

    .show {
      display: flex;
    }

    /* CONFERÊNCIA */

    .box-conference {
      @include display-justify-align(none, center, none);
      gap: 2rem;

      margin: 3rem;

      .btnConference {
        @include width-height(7.5rem, 5rem);
        border: none;
        border-radius: 1rem;
        cursor: pointer;

        @include size-family-color(2rem, $font-chakra, $color-white);
        font-weight: bold;
        letter-spacing: 3px;
        box-shadow: 2px 2px 2px #00000085;
      }

      .btnConference.selecionadoConference {
        border: 2px solid $color-white;
        opacity: 0.6;
      }

      #east {
        background-color: $color-btn-red-dark;

        &:hover {
          background-color: $color-btn-red-light;
        }
      }

      #west {
        background-color: $color-btn-blue-dark;

        &:hover {
          background-color: $color-btn-blue-light;
        }
      }
    }

    .showBtnsConference {
      display: flex;
    }

    /*  CONTEÚDO DOS CARDS */

    .box-cards {
      @include width-height(100%, 100%);
      display: grid;
      /* grid-template-columns: 1fr 1fr 1fr 1fr; */
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
      place-items: center;
      gap: 2rem;

      margin-block: 3rem;

      .card {
        @include width-height(17rem, 35rem);
        @include display-justify-align(flex, none, center);
        flex-direction: column;
        background-color: $color-white;

        border-radius: 1rem;
        box-shadow: 2px 2px 10px #0000007e;

        .img-card {
          @include width-height(100%, 25rem);
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            object-fit: cover;

            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }

          h1 {
            width: 100%;
            @include size-family-color(2rem, $font-bebas, $color-white);
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

            text-align: center;
            position: absolute;
            bottom: 0;
          }
        }

        /* INFORMAÇÕES */

        .content-info {
          @include width-height(100%, 10rem);
          display: flex;
          flex-direction: column;
          /* gap: ; */

          .info {
            @include width-height(100%, 4.5rem);
            margin-top: 1rem;

            .info-top {
              @include width-height(100%, 2.2rem);
              @include display-justify-align(flex, center, flex-end);
              letter-spacing: 1px;
              /* font-family: "Space Grotesk"; */
            }

            .info-bottom {
              @include width-height(100%, 2.2rem);
              @include display-justify-align(flex, center, center);
              gap: 2rem;
            }

            .info-top,
            .info-bottom {
              @include size-family-color(1.1rem, $font-bebas, $color-black);
            }
          }

          .score {
            @include width-height(100%, 4rem);
            @include display-justify-align(flex, center, center);
            flex-direction: column;
            gap: 0.5rem;

            h3 {
              @include size-family-color(1.25rem, $font-chakra, $color-black);
              text-transform: uppercase;
            }

            .score-numbers {
              width: 100%;
              display: flex;
              justify-content: space-around;
              background-color: $color-black;

              border-radius: 0.2rem;

              p {
                @include size-family-color(1.1rem, $font-chakra, $color-white);
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
