$color-black: #000;
$color-white: #fff;

$color-main-top: #c4c3c377;
$color-maintop-text-hover: #4e4d4d;

$color-btn-menu: #ffd991;
$color-btn-menu-selecionado: #f3c368;
$color-btn-menu-selecionado-text: #5e3500;

$color-btn-media: #f8a711ce;

$color-btn-red-light: #ff0000a2;
$color-btn-red-dark: #ff0000d2;
$color-btn-blue-light: #0000ffad;
$color-btn-blue-dark: #0000ffd8;

// header e footer
$color-gray-light: #7a7a7aa2;
$color-text-gray: #494747;
