@import url("https://fonts.googleapis.com/css2?family=Alice&family=Bebas+Neue&family=Bodoni+Moda:opsz@6..96&family=Caprasimo&family=Chakra+Petch:wght@300&family=Cormorant:wght@300&family=Inclusive+Sans&family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&family=Poppins:wght@100;400&family=Roboto+Slab:wght@100&family=Roboto:wght@100;400&family=Silkscreen&family=Space+Grotesk:wght@500&display=swap");

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-light: #7a7a7aa2;

  --color-text-gray: #494747;

  --font-chakra: "Chakra Petch";
  --font-bebas: "Bebas Neue";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  width: 100%;
  height: 19rem;
  background: url("../img/ball-medio.jpg") no-repeat center;
  object-fit: cover;
  /* color: #ffe7d0fd; */
  color: var(--color-white);

  padding: 0 4%;
}

header div {
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 5rem;
  font-family: var(--font-bebas);
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #00000096;
}

header p {
  font-size: 1.5rem;
  font-family: var(--font-chakra);
  text-shadow: 2px 2px 8px #00000096;
}

.redes-sociais {
  height: 20%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.redes-sociais a {
  text-decoration: none;
}

.redes-sociais a i {
  font-size: 1.2rem;
  color: var(--color-white);
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.redes-sociais a i:hover {
  text-shadow: 0px 0px 8px #fafafade;
}

/* FOOTER */

footer {
  height: 10rem;
  background-color: var(--color-gray-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--color-text-gray);
  font-size: 0.8rem;
  font-family: "Open Sans";
  /* text-shadow: 2px 2px 8px #fcfafa96; */
  /* font-family: "Inclusive Sans"; */
}
