@media screen and (max-width: 1024px) {
  /* FOOTER */

  footer p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 4rem;
  }

  header p {
    font-size: 1.1rem;
    text-align: center;
  }

  .main-top p {
    font-size: 1.1rem;
  }

  .btn {
    width: 8rem;
    height: 3rem;

    font-size: 0.8rem;
  }

  /* MÉDIA */

  .subtitleMedia {
    font-size: 1.4rem;
  }

  /* CONFERÊNCIA */

  .btnConference {
    width: 7rem;
    height: 4.5rem;
  }
}

@media screen and (max-width: 425px) {
  .redes-sociais a i {
    font-size: 1rem;
  }

  header h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 0.9rem;
  }

  .main-top p {
    font-size: 0.9rem;
  }

  .btn {
    width: 7rem;
    height: 3rem;

    font-size: 0.7rem;
  }

  /* MÉDIA */

  .btnMedia {
    width: 5rem;
    height: 5rem;

    font-size: 0.7rem;
  }

  .subtitleMedia {
    font-size: 1.1rem;
  }

  .cardMedia {
    width: 19rem;
  }

  .cardMedia p {
    font-size: 1.4rem;
  }

  /* CONFERÊNCIA */

  .btnConference {
    width: 6.5rem;
    height: 4rem;

    font-size: 1.7rem;
  }

  /* FOOTER */

  footer p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 375px) {
  header h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 0.8rem;
  }

  .main-top p {
    font-size: 0.8rem;
  }

  .btn {
    width: 6rem;
    height: 3rem;

    font-size: 0.6rem;
  }

  /* MÉDIA */

  .btnMedia {
    width: 4.5rem;
    height: 4.5rem;

    font-size: 0.6rem;
  }

  .subtitleMedia {
    font-size: 0.9rem;
  }

  .cardMedia {
    width: 17rem;
    height: 6rem;
  }

  .cardMedia p {
    font-size: 1.2rem;
  }

  /* CONFERÊNCIA */

  .btnConference {
    width: 5.5rem;
    height: 3.5rem;

    font-size: 1.4rem;
  }

  /* FOOTER */

  footer p {
    font-size: 0.5rem;
  }
}
